@tailwind base;
@tailwind components;
@tailwind utilities;

.square {
  background-image: url('img/mlbLogo.png');
  background-repeat: no-repeat;
  background-position: center;
}

.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10, .card11, .card12, .card13, .card14, .card15, .card16, .card17, .card18, .card19, .card20, .card21, .card22, .card23, .card24, .card25, .card26, .card27, .card28, .card29, .card30, .flip {
  background-size: contain;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transition: all .4s linear;
  }
  .card1 {
  background-image: url('./img/teamLogos/Arizona_Diamondbacks.png');
  }
  
  .card2 {
  background-image: url('./img/teamLogos/Atlanta_Braves.png');
  }
  
  .card3 {
  background-image: url('./img/teamLogos/Baltimore_Orioles.png');
  }
  
  .card4 {
  background-image: url('./img/teamLogos/Boston_Redsox.png');
  }
  
  .card5 {
  background-image: url('./img/teamLogos/Chicago_Cubs.png');
  }
  
  .card6 {
  background-image: url('./img/teamLogos/Chicago_White_Sox.png');
  }
  
  .card7 {
  background-image: url('./img/teamLogos/Cincinnati_Reds.png');
  }
  
  .card8 {
  background-image: url('./img/teamLogos/Cleveland_Guardians.png');
  }
  
  .card9 {
  background-image: url('./img/teamLogos/Colorado_Rockies.png');
  }
  
  .card10 {
  background-image: url('./img/teamLogos/Detroit_Tigers.png');
  }
  
  .card11 {
  background-image: url('./img/teamLogos/Houston_Astros.png');
  
  }
  
  .card12 {
  background-image: url('./img/teamLogos/KansasCity_Royals.png');
  }
  
  .card13 {
  background-image: url('./img/teamLogos/LosAngeles_Angels.png');
  }
  
  .card14 {
  background-image: url('./img/teamLogos/LosAngeles_Dodgers.png');
  }
  
  .card15 {
  background-image: url('./img/teamLogos/Miami_Marlins.png');
  }
  
  .card16 {
  background-image: url('./img/teamLogos/Milwaukee_Brewers.png');
  }
  
  .card17 {
  background-image: url('./img/teamLogos/Minnesota_Twins.png');
  }
  
  .card18 {
  background-image: url('./img/teamLogos/NewYork_Mets.png');
  }
  
  .card19 {
  background-image: url('./img/teamLogos/NewYork_Yankees.png');
  }
  
  .card20 {
  background-image: url('./img/teamLogos/Oakland_Athletics.png');
  }
  
  .card21 {
  background-image: url('./img/teamLogos/Philadelphia_Phillies.png');
  }
  
  .card22 {
  background-image: url('./img/teamLogos/Pittsburgh_Pirates.png');
  }
  
  .card23 {
  background-image: url('./img/teamLogos/SanDiego_Padres.png');
  }
  
  .card24 {
  background-image: url('./img/teamLogos/SanFrancisco_Giants.png');
  }
  
  .card25 {
  background-image: url('./img/teamLogos/Seattle_Mariners.png');
  }
  
  .card26 {
  background-image: url('./img/teamLogos/StLouis_Cardinals.png');
  }
  
  .card27 {
  background-image: url('./img/teamLogos/TampaBay_Rays.png');
  }
  
  .card28 {
  background-image: url('./img/teamLogos/Texas_Rangers.png');
  }
  
  .card29 {
  background-image: url('./img/teamLogos/Toronto_Blue_Jays.png');
  }
  
  .card30 {
  background-image: url('./img/teamLogos/Washington_Nationals.png');
  }
  
  .flip{
  background-image: url('./img/mlbLogo.png');
  }